<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <header>
        <div id='top-header'>
            <div class="logo-mercado-liebre">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>

         <div class='search-buttom'>
             <form action="#" method="GET" class = 'form-search'>
                
                 <input class='imput' type="text" placeholder="Buscá productos, marcas, y más">
                 <button class='submit'>
                     <i class="fas fa-search search-icon"></i>
                 </button>
                
             </form>
         </div>
        

            <div class='publicidad'>
                <p>
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin trajeta de crédito
                </p>
            </div>
        </div>

        <nav id='nav'>
            <ul class='link-list'>
                <li class='link-item'> <a href="#"> Ofertas </a> </li>
                <li class='link-item'> <a href="#"> Tiendas Oficiales </a> </li>
                <li class='link-item'> <a href="#"> Vender </a> </li>
                <li class='link-item'> <a href="#"> Ayuda </a> </li>
            </ul>
            <ul class='link-list'>
                <li class='link-item'> <a href="/register"> Creá tu cuenta <i class="far fa-id-card"></i>
                    </a> </li>
                <li class='link-item'> <a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i> </a> </li>
                <li class='link-item'> <a href="#"> Mis compras <i class="fas fa-shopping-basket"></i> </a> </li>
            </ul>
        </nav>
        <div id="burger-menu">
            <button>
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </header>

    <main>
        <div class="error-box">
            <ul class="error-list">
                <li id="error-missing"> 
                    <i class="fas fa-exclamation-triangle"></i>
                    Completa este dato
                    <i class="fas fa-exclamation-triangle"></i>
                </li>
                <li id="error-user">
                    <i class="fas fa-exclamation-triangle"></i>
                    Revisá tu e‑mail o usuario.
                    <i class="fas fa-exclamation-triangle"></i>
                </li>
                <li id="error-password">
                    <i class="fas fa-exclamation-triangle"></i>
                    Contraseña Incorrecta
                    <i class="fas fa-exclamation-triangle"></i>
                </li>
                <li id="error-fail">
                    <i class="fas fa-exclamation-triangle"></i>
                    El nombre de usuario y la contraseña que ingresaste no coinciden con nuestros registros.
                    <i class="fas fa-exclamation-triangle"></i>
                </li>
            </ul>
        </div>


        <form action="#" method="GET" class="form-list">

            <div class="form-content">
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" class="content-box">
            </div>

            <div class="form-content">
                <input type="text" name="contraseña" placeholder="Contraseña" class="content-box">
            </div>

            <div class="form-content button-box">
                <button type="submit" class="form-buttom-login"> <a href="/">Enviar</a></button>
            </div>
        </form>
    </main>

    <footer id='page-footer'>

        <article class='footer-article'>
            <i class="fas fa-credit-card footer-icon"></i>
            <div class='footer-text'>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!
                </p>
            </div>
        </article>

        <article class='footer-article'>
            <i class="fas fa-gift footer-icon"></i>
            <div class='footer-text'>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </article>

        <article class='footer-article'>
            <i class="fas fa-user-shield footer-icon"></i>
            <div class='footer-text'>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </article>

        <div class='footer-copyright'>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </div>
    </footer>
</body>

</html>